<section id="home" class="hero">
  <div class="hero__container">
    <app-social-links class="hero__social" />

    <div class="hero__content">
      <div class="hero__content-top">
        <div class="hero__content-left">
          <div class="hero__button-container">
            <img [src]="wavingHandPath" alt="Waving hand" class="hero__button-icon">
            <button class="hero__button">
              <span class="hero__button-text">{{ 'HERO.HELLO' | translate }}</span>
              <span class="hero__button-text-hover">{{ 'HERO.HELLO_HOVER' | translate }}</span>
            </button>
          </div>
          <div class="hero__letters-container hero__letters-container--top">
            <h1 class="hero__title hero__title--top">
              @for (letter of frontendLetters; track $index) {
                <span class="hero__letter" [attr.data-uppercase]="letter.isUpperCase">
                  {{ letter.char }}
                </span>
              }
            </h1>
          </div>
        </div>
        <div class="hero__content-right">
          <div class="hero__polaroid-wrapper hero__polaroid-wrapper--desktop">
            <img [src]="photoPath" alt="Nam" class="hero__polaroid-photo">
            <img [src]="polaroidFramePath" alt="Polaroid Frame" class="hero__polaroid">
          </div>
        </div>
      </div>

      <div class="hero__content-bottom">
        <div class="hero__letters-container hero__letters-container--bottom">
          <h1 class="hero__title hero__title--bottom">
            @for (letter of developerLetters; track $index) {
              <span class="hero__letter" [attr.data-uppercase]="letter.isUpperCase">
                {{ letter.char }}
              </span>
            }
          </h1>
        </div>
        <div class="hero__cta-container">
          <app-cta-button [translateKey]="'HERO.GET_IN_TOUCH'" fragment="contact" />
        </div>
      </div>

      <div class="hero__polaroid-wrapper hero__polaroid-wrapper--mobile">
        <img [src]="photoPath" alt="Nam" class="hero__polaroid-photo">
        <img [src]="polaroidFramePath" alt="Polaroid Frame" class="hero__polaroid">
      </div>
    </div>
  </div>
</section>
