@use '../../../../styles/variables' as *;

.social-links {
  display: flex;
  flex-direction: var(--social-direction, column);
  justify-content: var(--social-justify, flex-end);
  height: var(--social-height, 70vh);
  gap: var(--social-gap, #{$spacing-xs});
}

.social-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--social-icon-size, 40px);
  height: var(--social-icon-size, 40px);
  position: relative;
  overflow: hidden;
  transition: transform $transition-base;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: $primary-blue;
    border-radius: 50%;
    transform: translate(-50%, 50%) scale(0);
    transform-origin: center bottom;
    transition: transform $transition-slower;
    z-index: 0;
  }

  &:hover::before {
    transform: translate(-50%, 0) scale(1);
  }
}

.social-links__icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  z-index: 1;
}
